.benefits {
    background: var(--gray-dark);
    padding-top: 100px;
}

.benefits-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 37px;
    max-width: 1920px;
    padding: 0;
}

.benefits-content {
    max-width: 595px;
    padding: 0 20px;
}

.benefits__image-left {
    flex: 1;
}

.benefits__image-right {
    flex: 1;
}

.benefits__image img {
    width: 100%;
}

.benefits-list {
    max-width: 595px;
    margin: 0 auto;
    list-style: none;
}

.benefits-list__item {
    position: relative;
    padding: 30px 0 30px 78px;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
}

.benefits-list__item:not(:last-child) {
    border-bottom: 1px solid var(--gray-darken);
}

.benefits-list__item:before {
    content: '';
    background-image: url('../images/svg/emblem.svg');
    background-size: cover;
    width: 58px;
    height: 47px;
    position: absolute;
    left: 0;
    top: 38px;
}

.benefits-button {
    width: 100%;
    margin-top: 50px;
    font-size: 20px;
}

@media (max-width: 1340px) {
    .benefits-container {
        flex-wrap: wrap;
    }
    
    .benefits__content {
        padding: 0 20px;
        width: 100%;
        order: 1;
    }

    .benefits__image-left {
        order: 2;
    }

    .benefits__image-right {
        order: 3;
    }
}

@media (max-width: 945px) {
    .benefits {
        padding-top: 50px;
    }

    .benefits-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        max-width: 622px;
    }

    .benefits-list__item {
        font-size: 16px;
        line-height: 24px;
    }
    
    .benefits__image {
        margin: 0 -20px;
    }
}
