.primary-button {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 96px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    background: var(--white);
    color: var(--black);
    min-width: 190px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .5s ease;
}

.primary-button:hover {
    text-decoration: none;
    background: var(--beige);
    color: var(--gray-dark);
}

.secondary-button {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 100px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    background: var(--gray-dark);
    color: var(--white);
    min-width: 190px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .5s ease;
}

.secondary-button:hover {
    text-decoration: none;
    background: var(--beige);
    color: var(--gray-dark);
}

.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.checkbox input {
    display: none;
}
  
.checkbox .checkmark {
    width: 24px;
    height: 24px;
    border: 2px solid var(--gray-dark);
    border-radius: 4px;
    margin-right: 17px;
    position: relative;
    background-color: var(--white);
    transition: all 0.3s ease;
}
  
.checkbox input:checked + .checkmark {
    background-color: var(--gray-dark);
    border-color: var(--gray-dark);
}
  
.checkbox input:checked + .checkmark::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

@media (max-width: 945px) {
    .primary-button,
    .secondary-button {
        min-width: 140px;
        line-height: 60px;
        font-size: 16px;
    }
}

