body {
    background: var(--black);
    min-height: 1100px;
}

body.no-scroll {
    overflow: hidden;
}

.container {
    max-width: 1576px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    color: var(--white);
}
